/*
==============================
CSS Reset
==============================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==============================
Grid
==============================
*/

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 53px;
}

.col-left {
  width: 65.4%;
  float: left;
}

.col-right {
  width: 23.5%;
  float: right;
}

/*
==============================
Element Styles
==============================
*/

html {
  font: normal 20px/1.4 Helvetica, Arial, sans-serif;
  color: #45494d;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #b7b7b7;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 68px;
  color: #fff;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  padding-bottom: 25px;
  color: #3d3d3d;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 25px;
}

p {
  text-align: justify;
}

header {
  text-align: center;
  background: #3d3d3d;
  padding-top: 145px;
  padding-bottom: 56px;
  padding-right: 20px;
  padding-left: 20px;
}

header img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 139px;
  padding-top: 54px;
}

header nav {
  color: #fff;
  text-transform: uppercase;
}

header li {
  display: inline-block;
  padding: 0 1.5rem;
}

header nav a:hover {
  color: #50c3af;
}

main {
  padding-top: 86px;
  padding-bottom: 92px;
}

main::after {
  content: "";
  display: block;
  clear: both;
}

article {
  padding-bottom: 90px;
}

article a {
  color: #50c3af;
}

article > p:first-of-type {
  padding-bottom: 25px;
}

aside {
  background: #f6f7f8;
  font-size: 14px;
  line-height: 1.8;
  color: #787b80;
  padding: 32px 38px;
}

aside nav {
  padding-bottom: 122px;
}

aside li {
  background: transparent url("images/icon_bullet.png") 0 45% no-repeat;
  padding-left: 24px;
}

aside p {
  text-align: left;
}

footer {
  font-size: 12px;
  color: #7e8287;
  padding-top: 15px;
  border-top: 1px solid #d2d5da;
}

/*
==============================
Custom Classes
==============================
*/

.comments {
  padding-bottom: 44px;
}

.comments article {
  padding-bottom: 46px;
}

.comments img {
  border-radius: 50%;
  vertical-align: middle;
}

.post_comment dd {
  padding-bottom: 20px;
}

.post_comment input[type="text"],
.post_comment input[type="email"],
.post_comment textarea {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #b7b7b7;
  height: 40px;
}

.post_comment textarea {
  height: 140px;
  color: #b7b7b7;
}

.btn {
  display: inline-block;
  width: 85px;
  padding: 5px 0;
  border-radius: 30px;
  background: #d2d5da;
  color: white;
  text-align: center;
  font-size: 14px;
  margin-right: 30px;
  cursor: pointer;
}

.btn:last-of-type {
  margin-right: 0;
}

.btn:hover {
  background: #50c3af;
}

.post_comment .btn {
  background: #50c3af;
}

label[for="menu-toggle"] {
  display: none;
  color: #fff;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 3rem;
}

#menu-toggle {
  display: none;
}

/*
==============================
Responsive Design
==============================
*/

@media (max-width: 1040px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  header li {
    padding: 0 1rem;
  }

  h1 {
    font-size: 58px;
  }
}

@media (max-width: 600px) {
  .col-left {
    float: none;
    width: 100%;
  }

  .col-right {
    float: none;
    width: 100%;
  }

  .col-left nav,
  .col-right nav {
    padding-bottom: 50px;
  }

  .col-left nav {
    width: 200px;
    margin: 0 auto;
  }

  h1 {
    text-align: left;
    width: 200px;
  }

  h3 {
    text-align: center;
  }

  header {
    padding: 20px;
  }

  header img {
    padding: 30px 0;
    margin: 0;
  }

  article {
    padding-bottom: 50px;
  }

  aside li {
    display: inline-block;
    width: 25%;
    background: none;
    padding: 0;
    text-align: center;
  }

  label[for="menu-toggle"] {
    display: block;
  }

  #menu {
    display: none;
    position: absolute;
    top: 85px;
    right: 0;
    left: 0;
    padding: 10px 20px;
    background: rgba(61, 61, 61, 0.9);
  }

  #menu-toggle:checked + #menu {
    display: block;
  }

  #menu li {
    display: block;
    text-align: right;
    padding: 0;
    font-size: 1.5rem;
  }

  .comments {
    padding-bottom: 0px;
  }

  .post_comment {
    padding-bottom: 50px;
  }
}
